@media (max-width:1100px) {





    .banner {
    
        width: 100%;
      }
      .fixtwidth{
        width: 100%;
      
      }


      .le-ft img {
        width: 43Px;
          margin-left: 28px;}
            
    
    
}

@media (max-width:800px) {

      .banner {
    
        width: 100%;
        max-width: 100%;
      }

      .fixtwidth{
        width: 100%;
      
      }


      .service {
   
        width: 30%;
        
    }

    .header-rigth {
     
      width: 71%;
      margin-top: -71px;
  }


  .service p {
    
    font-size: 13px;
    margin-top: 10px;
}


.button {
  width: 187px;
  height: 41px;
 
  font-size: 15px;
  margin-top: 42px;
  }

  .fu-right {
    float: right;
    width: 35%;
}

.left img {
  height: 297px;
  margin-left: 38px;
}


.le-ft img {
  width: 43Px;
    margin-left: 28px;}
      
.banner-caption {
   
    position: relative;
    right: -238px;
    top: auto;

    
}}



@media ( max-width:727px) {


    .banner {
    
        width: 100%;
        max-width: 100%;
      }

      
      .fixtwidth{
        width: 100%;
      
      }

    
}


@media ( max-width:656px) {

  
  .header-left img {
    padding-top: 24px;
    width: 151px;
    margin-bottom: 13px;
}
  .header-rigth ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 22px 6px;
    
    font-size: 16px;
}
  
}



@media (max-width:636px) {

  .banner {
    
    width: 100%;
    max-width: 100%;
  }
  .fixtwidth{
    width: 100%;
  
  }

  

.banner-caption img {
    margin-top: 10px;
    height: 70px;}


  
}



@media (max-width:576px) {

  .banner {
    
    width: 100%;
    max-width: 100%;
  }
  .fixtwidth{
    width: 100%;
  
  }

  .batton1 {
    width: 159px;
    height: 39px;
  
    font-size: 10px;

    margin-bottom: 31px;
    margin-top: 19px;
  
}
.banner-caption h1 {
  color: #3961b3;
  font-size: 28px;
  margin-top: 20px;
}


.banner-caption p {
  
  font-size: 11px;
  margin-top: 7px;
}

.banner-caption {
  position: relative;
  right: -211px;
  top: auto;
}
.service img {
  margin-top: 37px;
  height: 102px;
}
.service h1 {
  color: #3961b3;
  font-size: 14px;
  margin-top: 16px;
}
.service {
  width: 29%;
}

.button {
  width: 130px;
  height: 37px;
  font-size: 12px;
  margin-top: 28px;
}
.button {
  width: 137px;
  height: 31px;
 
  font-size: 12px;
 
  margin-bottom: 15px;
  margin-top: 20px;

}
.left img {
  height: 219px;
  margin-left: 38px;
}

.le-ft img {
  width: 41Px;
  margin-left: 9px;
}
.futter-poin {
  background-color: #5883da;
  height: 833px;
  width: auto;
}

  
}

